
<!DOCYTYPE html>
<html>
    <head lang = "en">
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <title>
        {% block title_block %}
                page title (e.g 'home', 'list'
        {% endblock %}
        </title>
    </head>
    <body>
        <div>
            {% block body_block %}
            {% endblock %}
        </div>
        <hr/>
        <div>
            {% block sidebar_block %}
                note: If we want a 'Sidebar' on each page add here
                (use template tags for this)
            {% endblock %}
        </div>
    <div>
        <ul>
            {% if user.is_authenticated %}
                you are logged in as {{user.username}}
                <li><a href="{% url 'auth_logout' %}">Logout</a><li>
            {% else %}
                <li><a href="{% url 'auth_login' %}">Login</a><li>
            {% endif %}
            <li><a href="{% url 'home' %}">Home</a></li>
        </ul>
    </div>
    </body>

</html>
