{% extends "memoryBankApp/base.html" %}
{% block title_block %}
Contact
{% endblock %}
{% block body_block %}

<div class = "centre-box">
   <div class="col-sm-4 col-sm-offset-4">
      <h1>Contact</h1>
      <p>
         <b>memoryBank</b> is built and maintained by a small number of geezers,
         who welcome questions, comments, and cold hard cash.
      </p>
      <p>
         Contact us individually:
         <ul>
            <li><a href="mailto:2276998B@student.gla.ac.uk?Subject=memoryBank" target="_blank" alt="Contact us">Stewart Brown</a></li>
            <li><a href="mailto:1005926m@student.gla.ac.uk?Subject=memoryBank" target="_blank" alt="Contact us">Niall Morris</a></li>
            <li><a href="mailto:2196440O@student.gla.ac.uk?Subject=memoryBank" target="_blank" alt="Contact us">Khari Outram</a></li>
            <li><a href="mailto:1007016H@student.gla.ac.uk?Subject=memoryBank" target="_blank" alt="Contact us">Calum Thain</a></li>
         </ul>
      </p>
   </div>
</div>
</html>

{% endblock %}
