{% extends "memoryBankApp/base.html" %}
{% block title_block %}
    Edit List Item
{% endblock %}
{% block body_block %}

<script type="text/javascript">
    $(document).ready(function() {
        $('.submitDelete').click(function() {
            $('#removeFormField').val('1');
            document.getElementById("ListForm").submit();
       });
    });
</script>

<script type="text/javascript">
    $(document).ready(function() {
        $('.cancelEdit').click(function() {
        window.location.href = "/memorybank/home";       
       });
    });
</script>

<div class="container">
    <form role="form" id="ListForm" method="post" action="">
        <h2 class="form-signin-heading">Edit List Item</h2>
        {% csrf_token %}
        {% for field in form.visible_fields %}
            {{ field.errors }}
            <!--{{ field.help_text }}<br/>-->
            {{ field.label }}<br/>
            {{ field }}<br/><br/>
        {% endfor %}
        <input type="hidden" id="removeFormField" value="0" name="removeFormField" />
        <br/>
        <button class="btn btn-primary cancelEdit" type="button">Cancel</button>
        <button class="btn btn-primary" type="submit" name="submitSave">Save</button>
        <button type="button" class="btn btn-info btm-sm submitDelete" >Delete Item</button>
        <!--<li><a href="{% url 'home' %}">return to your lists</a></li>-->
    </form>
</div>

{% endblock %}