{% extends "memoryBankApp/base.html" %}
{% load staticfiles %}

<head>
    {% block title_block %}
    Home
    {% endblock %}
</head>


{% block body_block %}

<div class="container">
    <div id="homeLists">
        <div id=homeListsHeader>
            <h1>
               All {{ user.username }}'s Lists
            </h1>
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#AddListModal"><b>+</b> Create New List</button>
        </div>

        <div class="row">
            {% if allLists %}
            {% for list in allListsCol %}
            <div class="col-sm-4">
                {% for List in list %}
                <div class="listbox">
                    <h4>
                       {{List.title}}
                       <!-- Delete list button -->
                      <button type="button" class="close deleteList" data-toggle="modal" data-target="#DeleteListModal"
                       data-title="{{ List.title }}" data-id="{{ List.id }}" >&times;</button>

                       <!-- Add list item button -->
                       <button type="button" class="btn btn-info btn-sm listButton" data-toggle="modal" data-target="#AddListItemModal"
                           data-title="{{ List.title }}" data-id="{{ List.id }}" ><b>+</b> Add item</button>


                     </h4>

                    <!-- <button type="button" class="btn btn-info btn-sm listButton" data-toggle="modal" data-target="#AddListItemModal"
                        data-title="{{ List.title }}" data-id="{{ List.id }}" ><b>+</b> Add item</button> -->
                    <ul>
                        {% for item in List.listitem_set.all  %}
                        {% if item %}
                        {% if item.removed %}
                        <!--Do nothing-->
                        {% else %}
                        {% if item.completed %}
                        <del>
                            <a href="{% url 'edit_item' id=item.id %}" class="editItemToggle" data-id="{{ item.id }}">{{ item.title }}</a><br>
                        </del>
                        {% else %}
                        <a href="{% url 'edit_item' id=item.id %}" class="editItemToggle" data-id="{{ item.id }}">{{ item.title }}</a><br>
                        {% endif %}
                        <hr />
                        {% endif %}

                        {% else %}
                        <li> no items in this! </li>
                        {% endif %}
                        {% endfor  %}
                    </ul>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
            {% else %}
                <center><h3> You don't have any lists yet</h3></center>
            {% endif %}

            <!-- 4th Column Quicklist thingy -->
            <div class="col-sm-3">
                    <!--<div class="listbox">
                    <li><h4><input type="checkbox" name="delete" value="listTitle">  {{List.title}}</h4></li>
                    <button type="button" class="btn btn-info btn-sm listButton" data-toggle="modal" data-target="#AddListItemModal"
                    data-title="{{ List.title }}" data-id="{{ List.id }}" >Add list item</button>
                    <ul>
                    {% for item in List.listitem_set.all  %}
                    {% if item %}
                    {% if item.removed %}-->
                    <!--Do nothing-->
                    <!--{% else %}
                    {% if item.completed %}
                    <del>
                    <a href="{% url 'edit_item' id=item.id %}" class="editItemToggle" data-id="{{ item.id }}">{{ item.title }}</a><br>
                </del>
                {% else %}
                <a href="{% url 'edit_item' id=item.id %}" class="editItemToggle" data-id="{{ item.id }}">{{ item.title }}</a><br>
                {% endif %}
                {% endif %}
                {% else %}
                <li> no items in this! </li>
                {% endif %}
                {% endfor  %}
                </div>-->
            </div>

        </div> <!-- End of row -->
    </div> <!-- End of homelists -->
</div> <!-- End of container -->


<div class="container ">
    <!-- Modal -->
    <div class="modal fade" id="AddListItemModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><b>+</b> Add list item</h4>
                </div>

                <div class="modal-body">
                    <form role="form" id="ListForm" method="post" action="">
                        <h2 class="form-signin-heading" id="addItemTitle">Add new item for...</h2>
                        {% csrf_token %}

                        <div class="ui-widget" id="banker">
                         <label>Need an idea from the Bank?: </label>
                         <select id="combobox" name="bank" onChange="OnDropDownChange(this);">
                         <option value="">Choose from the bank</option>
                          {% if banklist %}
                             {% for b in banklist %}
                             <option value="{{ b.title }}">{{ b.title }}</option>
                             {% endfor %}
                              {% endif %}
                                 </select>
                                 </div>
                         <label>or add a new title:</label><br>

                        <input id="banktitle" name="banktitle" value=""/><br>

                        <input type="hidden" id="newItemListID" name="listID" value="" />

                        {% for field in form.visible_fields %}
                        {{ field.errors }}
                        {{ field.help_text }}<br/>
                        {{ field }}<br/>

                        {% endfor %}
                        <br/>
                        <button class="btn btn-primary" type="submit" name="submitAdd">Add item</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="AddListModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create new list</h4>
                </div>

                <div class="modal-body">

                    <form role="ListForm" id="AddListForm" method="post" action="">
                        <h2 class="form-signin-heading">Enter a name for your new list</h2>
                        {% csrf_token %}

                        {% for field in ListForm.visible_fields %}
                        {{ field.errors }}
                        {{ field.help_text }}<br/>
                        {{ field }}<br/>
                        {% endfor %}
                        <br/>
                        <button class="btn btn-primary cancelEdit" type="button">Cancel</button>
                        <button class="btn btn-primary submitAddList"  type="submit" name="submitAddList"><b>+</b> Create List</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="container">

    <!-- Modal -->
    <div class="modal fade" id="DeleteListModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete list</h4>
                </div>

                <div class="modal-body">

                    <form role="DeleteListForm" id="DeleteListForm" method="post" action="">
                        <h2 class="form-signin-heading" id="deleteItemTitle">Are you sure you want to delete...</h2>
                        {% csrf_token %}

                        <input type="hidden" id="DeleteListID" name="listID" value="" /><br/>
                        <input type="hidden" id="DeleteListBool" name="listDeleteBool" value="0" /><br/>

                        <button class="btn btn-primary cancelDelete" type="button">Cancel</button>
                        <button class="btn btn-primary submitDeleteList"  type="submit" name="submitDeleteList">Delete</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}
