<!DOCTYPE HTML>

{% load staticfiles %}

<html>

<head>
	<title>memoryBank - test list</title>

	<!-- CDN -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.min.js"></script>

	<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>


	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.2.6/gridstack.min.css" />
	<link rel="stylesheet" type="text/css" href="{% static 'memoryBankApp/style.css' %}" />
	<script type="text/javascript" src='//cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.2.6/gridstack.min.js'></script>

	<script type="text/javascript">
        $(function () {
            $('.grid-stack').gridstack({
                width: 12,
                alwaysShowResizeHandle: /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent),
                resizable: {
                    handles: 'e, se, s, sw, w'
                }
            });
        });
    </script>



</head>

<body>
	<div class="container">
	<div class="grid-stack" data-gs-width="12" data-gs-animate="yes">
		{% for list in allLists %}
			<div class="grid-stack-item" data-gs-x="0" data-gs-y="0" data-gs-width="3" data-gs-height="3">
				<div class="grid-stack-item-content">
					<h4>{{ list.title }}</h4>
					<ul>
					{% for item in list.listitem_set.all  %}
	            		<li>{{ item.title }}</li>
	            	{% empty %}
	            		<li>No items</li>
           			{% endfor  %}
           			</ul>
				</div>
			</div>
		{% empty %}
			<div class="grid-stack-item" data-gs-x="0" data-gs-y="0" data-gs-width="2" data-gs-height="3">
				<div class="grid-stack-item-content">
					No lists
				</div>
			</div>
		{% endfor %}
	</div>
</div>

</body>

</html>
