<!DOCTYPE HTML>

{% load staticfiles %}

<html>

<head>
	<title>memoryBank - test list</title>

	<!-- CDN -->
	<script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"
	integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
	crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
	integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
	crossorigin="anonymous"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>


	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.2.6/gridstack.min.css" />
	<link rel="stylesheet" type="text/css" href="{% static 'memoryBankApp/style.css' %}" />
	<script type="text/javascript" src='//cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.2.6/gridstack.min.js'></script>

	<script type="text/javascript">
		$(function () {
			var options = {
				cellHeight: 60,
				verticalMargin: 10,
				width: 18
			};
			$('.grid-stack').gridstack(options);
		});
	</script>



</head>

<body>

	<div class="grid-stack">
		{% for list in allLists %}
			{% if list %}
				<div class="grid-stack-item" data-gs-x="0" data-gs-y="0" data-gs-width="2" data-gs-height="3">
					<div class="grid-stack-item-content">
						<h4>{{list.title}}</h4>
						{% for item in list.listitem_set.all  %}
		           			{% if item %}
		            			<li>{{ item.title }}</li>
			           		 {% else %}
			           			 <li>No items!</li>
			            	{% endif %}
	           			{% endfor  %}
					</div>
				</div>
			{% else %}
				No lists
			{% endif %}
		{% endfor %}
	</div>

</body>

</html>



