<h4>
   {{List.title}}
   <!-- Delete list button -->
   <button type="button" class="close deleteList" data-toggle="modal" data-target="#DeleteListModal"
   data-title="{{ List.title }}" data-id="{{ List.id }}" >&times;</button>

   <!-- Add list item button -->
   <button type="button" class="btn btn-info btn-sm listButton" data-toggle="modal" data-target="#AddListItemModal"
   data-title="{{ List.title }}" data-id="{{ List.id }}" ><b>+</b> Add item</button>
</h4>


<ul>

    <!-- Action prevented through js to use AJAX -->
    <form class="quick_item_form" method="post" action="/memorybank/quick_item/">
        {% csrf_token %}
        {% for hidden in quick_item_form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% for field in quick_item_form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}
            {{ field }}
        {% endfor %}
    </form>
    <hr />

    {% for item in List.listitem_set.all  %}

        {% if item %}

            {% if item.removed %}
                <!--Do nothing-->
            {% else %}
                {% if item.completed %}
                    <del>
                        <a href="{% url 'edit_item' id=item.id %}" class="editItemToggle" data-id="{{ item.id }}">{{ item.title }}</a><br>
                    </del>
                {% else %}
                    <a href="{% url 'edit_item' id=item.id %}" class="editItemToggle" data-id="{{ item.id }}">{{ item.title }}</a><br>
                {% endif %}
                <hr />
            {% endif %}

        {% else %}
            <li> no items in this! </li>
        {% endif %}

    {% endfor  %}
</ul>
