/* Pages w/ centre boxes (e.g. index, log-in, register, etc) */

.centre-box .col-sm-4 {
   background-color: white;
   margin-top: 50px;
   padding-top: 10px;
   padding-bottom: 10px;
   border-style: solid;
}

.centre-box .col-sm-4 h1 {
   border-bottom: thin solid #cccccc;
   margin-top: 0;
   padding-bottom: 10px;

   color: #090909;
   font-size: 1.6em;
   text-align: center;
}

.centre-box ul {
   list-style-type: none;
}



/* User's Home Page (home.html) */
#homeLists {
   background-color: white;

   border-style: solid;
   border-width: thin;
   border-color: #cccccc;
}

/* title bar (all username's lists) */
#homeListsHeader{
   padding-top: 10px;
   padding-bottom: 10px;
   margin: 0 0 0 0;
   border-bottom: thin solid #cccccc;
}

 h1 {
   color: #090909;
   font-size: 1.6em;
   text-align: center;

}

#homeListsHeader .btn-group-lg>.btn, .btn-lg {
   float: right;
   margin: -50px 30px 0 0;
   font-size: 14px;
   line-height: 1.3333333;
}


.col-lg-4, col-md-4, col-sm-4, col-xs-4{
   float:left;
}

/* margins reminder: top right bottom left
never eat shredded wheat */
.listbox{
   display:block;
   border:1px solid #ffffff;
   border-radius:5px;
   /*padding: 0 10 0 10px;*/
   margin: 10px 10px 0px 10px;
   background-color:#eeeeee;
}

.btn-info {
   margin-left: 10px;
   background-color: #aaaaaa;
   border-style: none;
}


/* list titles on user's home page */
.listbox h4 {
    margin-left: 10px;
    margin-right: 10px;
}



.custom-combobox {
   position: relative;
   display: inline-block;
}
.custom-combobox-toggle {
   position: absolute;
   top: 0;
   bottom: 0;
   margin-left: -1px;
   padding: 0;
}
.custom-combobox-input {
   margin: 0;
   padding: 5px 10px;
}
